*.pyc
*.npy
*.pth
*.pt
*.ckpt
*.pkl
*.whl
*.swp
*.so
*.log
!evaluation_logs/
!evaluation_logs/*.log
*.zip
*.tar
*.tar.gz

data/
ckpt/
work_dirs*/
dist_test/
vis/
val/
lib/
resource/
resources/
runs/
wandb/

*.egg-info/
build/
__pycache__/
job_scripts/
temp_ops/
Miniconda*.sh
